#container {
	width: 99%;
	height: 100%;
	/*background-color:black;*/
	position: absolute;
	/*border-style: solid;
	border-color: black;*/
	background-color: pink;
}

#titre {
	width:50%;
	height:50%;
	margin: 20px;
	/*background-color:black;*/
	position: relative;
	/*border-style: solid;
	border-color: black;*/
	background-color: green;
}

#liste {
	width:99%;
	height:80%;
	margin: 20px;
	/*background-color:black;*/
	position: relative;
	/*border-style: solid;
	border-color: black;*/
	background-color: yellow;
}

/* Texte défilant méthode de forum et codepen*/
.messagedefilant {
	display: block;
	margin: 40px auto;
	padding: 2;
	overflow: hidden;
	position: relative;
	width: 90%;
	max-width: 640px;
	height: 60px;
	/*border-style: solid;
	border-color: black;*/
	background-color: yellow;
}

.messagedefilant div {
	position: absolute;
	min-width: 100%; /* minimum la largeur du conteneur */ 
}

.messagedefilant div span,
.messagedefilant div:after {
	position: relative;
	display: inline-block;
	font-size: 3rem;
	font-family: sans-serif;
	color: green;
	font-style: bold;
	white-space: nowrap;
	top: 0;
}

.messagedefilant div span {
	animation-duration: 7s;
	animation-name: defilement;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
/*	background: #cde; */
}

.messagedefilant div:after {
	position: absolute;
	top: 0; left: 0;
	content: attr(data-text);
	/*animation: defilement2 10s inline linear;*/
	animation-duration: 7s;
	animation-name: defilement2;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	/* background: #edc; */
}

@keyframes defilement {
	0% {margin-left: 0;}
	100% {margin-left: -100%;}
}

@keyframes defilement2 {
	0% {margin-left: 100%;}
	100% {margin-left: 0%;}
}


/* test exemple devdocs */
.polling_message {
  color: white;
  float: left;
  margin-right: 2%;            
}

.view_port {
  background-color: black;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.cylon_eye {
  background-color: red;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, .9) 25%,
      rgba(0, 0, 0, .1) 50%,
      rgba(0, 0, 0, .9) 75%);
  color: white;
  height: 100%;
  width: 20%;

  -webkit-animation: 4s linear 0s infinite alternate move_eye;
          animation: 4s linear 0s infinite alternate move_eye;
}

@-webkit-keyframes move_eye { from { margin-left: 20%; } to { margin-left: 80%; }  }
        @keyframes move_eye { from { margin-left: 20%; } to { margin-left: 80%; }  }


/* autre exemple de devdocs pour callibrer <p>*/

p {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  /*animation-direction: alternate;*/
  animation-timing-function: linear;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 100%; 
  }

  to {
    margin-left: -20%;
    width: 100%;
  }

/*  50% {
  font-size: 300%;
  margin-left: 50%;
  width: 150%;
*/
}
}
